<%- include('../../shared/includes/head', {pageTitle: 'Add new product'}) %> 
<link rel="stylesheet" href="/styles/forms.css">
<script src="/script/image-preview.js" defer></script>

</head>
<body>
    <%- include('../../shared/includes/header.ejs') %> 
    <main>
        <h1>Add new products</h1>
       
     <%- include('includes/product-form', { submitPath: '/admin/products', product: {
      title: '',
      summary: '',
      price: '',
      description: ''
    },
    imageRequired: true }) %>
          
    </main>
    <%- include('../../shared/includes/footer') %> 
